language: python

python:
  - 3.3
  - 3.4
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.3
    - python: nightly

install:
  - pip install -r server/requirements.txt

script:
  - cd server && python manage.py test